{% extends "layouts.html" %}

{% block content %}
    <h1 align="center"> Flashcards </h1>

    <center>
        <div>
            <a class="btn btn-primary btn-sm mt-1 mb-1 m-3 p-3" id='flashcardside' onclick="javascript:flip()">{{ front }}</a>
        </div>
    </center>

    <center>
        <div>
            <a class="btn btn-primary btn-sm mt-1 mb-1 m-3 p-3" href="{{ url_for('flashcards') }}"> Add New Flashcard </a>
            <a class= 'btn btn-primary btn-sm mt-1 mb-1 m-3 p-3' href="{{ url_for('add_flashcard') }}"> Upload a Markdown File </a>
            <a class = 'btn-primary btn btn-sm mt-1 mb-1 m-3 p-3' href=''> Memorize </a>
        </div>
    </center>

    <script>
        function flip(){
            var element = document.getElementById('flashcardside')
            if(element.innerHTML === '{{ back }}') {
                element.innerHTML = '{{ front }}';
            }
            else {
                element.innerHTML = '{{ back}}'
            }
        }
    </script>
{% endblock content %}