<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            aspectRatio: 2.25,
            events: [
                {% for event in events %}
                    {
                        title: '{{event.title}}',
                        start: '{{event.start}}',
                        end: '{{event.end}}',
                        url: '{{event.url}}',
                    },
                {% endfor %}
            ],
            eventClick: function (info) {
                info.jsEvent.preventDefault(); // don't let the browser navigate

                if (info.event.url) {
                    window.open(info.event.url);
                }
            }
        });
        calendar.render();
    });
</script>

{% extends 'layouts.html' %}
{% block content %}


    <div class="container mt-3">
    <button type="button" class="btn btn-secondary" {{ url_for('add_calendar_event')}}>Secondary</button>
        </button>
    </div>


    <h1 align="center"> Calendar </h1>
    <div class="container">
        <div id="calendar">
        </div>
    </div>



{% endblock content %}