<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });
        calendar.render();
    });
</script>
{% extends 'layouts.html' %}



{% block content %}

    <div class="container">
        <button class="btn btn-primary" type="submit">Add Event</button>
    </div>

    <h1 align="center"> Calendar </h1>




    <div class="container">
        <div id="calendar">

        </div>
    </div>




{% endblock content %}