{% extends "layouts.html" %}

{% block content %}

    <div class="container justify-content-center">
        <h2 class="heading">Study</h2>
    </div>

<body>

        <div id="work-timer" class="timer">
            <p id="study">{{ study }}</p><p class="semicolon">:</p><p id="w_seconds">00</p>
        </div>

        </div>
        <button id="start" class="btn">Start</button>
        <button id="stop" class="btn">Pause</button>
        </div>

</body>

    <script type="application/javascript">

        var start = document.getElementById('start');
        var stop = document.getElementById('stop');

        var studyMinutes = document.getElementById("study");
        var studySeconds = document.getElementById('w_seconds');

        var startTimer;
        startTimer = setInterval(timer, 100)

        start.addEventListener('click', function(){
            if(startTimer === undefined){
                startTimer = setInterval(timer, 100)
            } else {
                alert("Timer is already running");
            }
        })

        stop.addEventListener('click', function(){
            stopInterval()
            startTimer = undefined;
        })

        function timer(){

            if (studyMinutes.innerText == 0 && studySeconds.innerText == 0) {
                window.location.href = "{{ url_for('rest') }}";
                {#clearInterval(interval);#}
            }

            if(studySeconds.innerText != 0){
                studySeconds.innerText--;
            } else if(studyMinutes.innerText != 0 && studySeconds.innerText == 0){
                studySeconds.innerText = 59;
                studyMinutes.innerText--;
            }

            if(studyMinutes.innerText == 0 && studySeconds.innerText == 0 && restMinutes.innerText == 0 && restSeconds.innerText == 0){
                studyMinutes.innerText = studyMinutes;
                studySeconds.innerText = "00";

                document.getElementById('counter').innerText++;

            }

        }

        function stopInterval(){
           clearInterval(startTimer);
        }

    </script>

{% endblock %}
