{% extends "layouts.html" %}

{% block content %}

    <div class="container justify-content-center">
        <h2 class="heading pb-3">Study</h2>
        <fieldset>
            <legend>
                <div id="work-timer" style="font-max-size: 50px" class="timer">
                    <a id="study">{{ study }}</a>
                    <a id="semicolon" style="text-decoration: none">:</a>
                    <a id="w_seconds">00</a>
                </div>
            </legend>
        </fieldset>
    </div>
    <div class="container pt-3">
        <button id="start" class="btn btn-secondary">Resume</button>
        <button id="stop" class="btn btn-primary">Pause</button>
    </div>


    <script type="application/javascript">

        var start = document.getElementById('start');
        var stop = document.getElementById('stop');

        var studyMinutes = document.getElementById("study");
        var studySeconds = document.getElementById('w_seconds');

        var startTimer;
        startTimer = setInterval(timer, 100)

        start.addEventListener('click', function () {
            if (startTimer === undefined) {
                startTimer = setInterval(timer, 100)
            } else {
                alert("Timer is already running");
            }
        })

        stop.addEventListener('click', function () {
            stopInterval()
            startTimer = undefined;
        })

        function timer() {

            if (studyMinutes.innerText == 0 && studySeconds.innerText == 0) {
                window.location.href = "{{ url_for('rest') }}";
                {#clearInterval(interval);#}
            }

            if (studySeconds.innerText != 0) {
                studySeconds.innerText--;
            } else if (studyMinutes.innerText != 0 && studySeconds.innerText == 0) {
                studySeconds.innerText = 59;
                studyMinutes.innerText--;
            }

            if (studyMinutes.innerText == 0 && studySeconds.innerText == 0 && restMinutes.innerText == 0 && restSeconds.innerText == 0) {
                studyMinutes.innerText = studyMinutes;
                studySeconds.innerText = "00";

                document.getElementById('counter').innerText++;

            }

        }

        function stopInterval() {
            clearInterval(startTimer);
        }

    </script>

{% endblock %}
