{% extends 'layouts.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/timexx.css') }}">

    <h1 class="mb-lg-4" style='text-align: center;'>Pomodoro Timer</h1>

    <main class="main">


        <div class="container">
            <form class="form" method="POST">

                <label class="fixed_label" for="study">Study</label>
                <input class="fixed_form" type="number" name="study" id="study" value="10"/>
                <span class="units">(25m=1500s)</span>

                <label class="fixed_label" for="rest">Rest</label>
                <input class="fixed_form" type="number" name="rest" id="rest" value="5"/>
                <span class="units">(5m=300s)</span>

                <label class="fixed_label" for="blocks">Blocks</label>
                <input class="fixed_form" type="number" name="blocks" id="blocks" value="2"/>
                <span class="units"></span>

                <div class="fixed_button_center_justified container">
                    <button class="btn btn-primary" type="submit" style="width: 200px">Start</button>
                    <br>
                    <a class="btn btn-primary  mt-1" href="{{ url_for('visualize_blocks') }}">
                        Tracker </a>
                </div>
            </form>
        </div>

    </main>


{% endblock content %}

