{% extends 'layouts.html' %}

{% block content %} 
<div class="container justify-content-center">
    <h1 style='text-align: center;'>
        <span>You've used {{ study_counter }} time blocks <br> As well as
            {{ study_counter * study }} seconds tracked <br> while studying with Pomodoro</span>
    </h1>
</div>
<center>
<table>
    <tr>
      <th>Date</th>
      <th>Time Worked</th>
    </tr>
    <tr>
        {% for tracker in blocks %}
        <td>
            {{ tracker.date }}
        </td>
        <td>
            {{ tracker.time }}s
        </td>
    {% endfor %}
    </tr>
  </table>
  </center>

{% endblock %}