{% extends 'layouts.html' %}

{% block content %}
    <div class="container justify-content-center">
        <h1 style='text-align: center;'>
        <span>You've used {{ study_counter }} time blocks <br> As well as
            {{ study_counter * study }} seconds tracked <br> while studying with Pomodoro</span>
        </h1>
    </div>


        <table class="table-bordered container" style="width: 300px">
            <thead style="text-align: center">
            <th>Date</th>
            <th>Time Worked</th>
            </thead>

            <tbody style="text-align: center">
            {% for tracker in blocks %}
                <td style="text-align: center">
                    {{ tracker.date }}
                </td>
                <td style="text-align: center">
                    {{ tracker.time }}s
                </td>
                </tbody>
            {% endfor %}

        </table>

{% endblock %} 