{% extends "layouts.html" %}

{% block content %}
    <div class="container">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/flipcard.css') }}">

    <article class="media content-section">
        <img class="rounded-circle article-img m-3"
             style="width: 3%"
             src="{{ url_for('static', filename='profile_pics/' + flashcard.author.image_file) }}">
        <a class="mr-2" href="#">{{ flashcard.author.username }}</a> ~~~
        <small class="text-muted">{{ flashcard.date.strftime('%Y-%m-%d') }}</small>
        <div class="media-body">
            <div class="article-metadata">


                {% if flashcard.author == current_user %}
                    <div class="m-1">
                        <a class="btn btn-secondary btn-sm mt-1 mb-1 m-3"
                           href="{{ url_for('update_flashcard', flashcard_id=flashcard.id) }}">Update</a>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1"
                           href="{{ url_for('share_flashcard', flashcard_id=flashcard.id) }}">Share</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1 m-3"
                           href="{{ url_for('delete_flashcard', flashcard_id=flashcard.id) }}">Delete</a>
                    </div>
                {% endif %}
            </div>
            </br>
            </br>


             <div class="container">

            <div class="row">
                <!-- Card 1 -->

                <div class="col-md-12 card-container">
                    <div class="card-flip">
                        <!-- Card 1 Front -->
                        <div class="card front">
                            <span class="fa fa-4x fa-smile-o text-center"></span>

                            <div class="card-block">

                                <h4 class="card-title text-center">
                                    <p class="card-text">{{ flashcard.front }}</p>

                                </h4>

                            </div>
                        </div>
                        <!-- End Card 1 Front -->
                        <!-- Card 1 Back -->
                        <div class="card back">
                            <div class="card-block">
                                <p class="card-text">{{ flashcard.back }}</p>
                            </div>
                        </div>
                        <!-- End Card 1 Back -->
                    </div>
                </div>
                <!-- End Card 1 -->
            </div>
        </div>


            </br>
        </div>
    </article>

    </br>
    </br>

    <a class="btn btn-success btn-sm mt-1 mb-1 m-3" href="{{ url_for('flashcards') }}"> Close </a>

    <a class="btn btn-success btn-sm mt-1 mb-1 m-3" href="{{ url_for('flashcard_pdf', flashcard_id=flashcard.id) }}">
        Save as PDF </a>
</div>

{% endblock content %}