{% extends "layouts.html" %}
{% block content %}

    <div class="container">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-control">
                <h1>Add Note</h1>
                <p> {{ form.title.label }}
                    {{ form.title(size=32) }}</p>
                <p>{{ form.content.label }}
                    {{ form.content() }}</p>
                <p> {{ form.submit.label }}
                    {{ form.submit() }}</p>
            </div>
        </form>
    </div>
{% endblock content %}