{% extends "layouts.html" %}
{% block content %}


    <h1 align="center"> Notes </h1>
    {% for note in current_user.notes %}
  <article class="media content-section m-3 pb-lg-3">
                <img class="card-title rounded-circle article-img mt-lg-2 "
                     style="width: 3%" src="{{ url_for('static', filename='profile_pics/' + note.author.image_file) }}"
                     alt="">
                <a class="mr-2" href="#">{{ note.author.username }}</a>
                <li class="card p-3">
                    <div class="card-title">
                        <h2><a class="article-title card-title" href="{{ url_for('note', note_id=note.id) }}">{{ note.title }}</a></h2>
                        <p class="article-content mt-3">{{ note.content }}</p>
                    </div>
                    <small class="text-muted">Date added: {{ note.date.strftime('%Y-%m-%d') }}</small>

                </li>

            </article>

    {% endfor %}


    <a class="btn btn-primary btn-sm mt-1 mb-1 m-3 p-3" href="{{ url_for('notes') }}" > Return </a>


{% endblock content %}