html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
    padding: 60px 15px 0;
}

/* 60px 15px 0 */

#header {
    background: #ff0;
    padding: 10px;
}

#body {
    /* Height of the footer */
    padding: 10px 10px 60px;
}

footer {
    position: relative;
    margin-top: 2%;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    bottom: 0;
}

.homepage {
    padding-bottom: 100px;
}


